// Colours.

$grey-dark: #999999 !default;


// Layout.

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Gutter value for top widget section.
$gutter-top: 5px !default;


// Elements.

// 5% darker so it works actions button in the table header also.
$action-hover-bg: darken(#f5f5f2, 5%) !default;
$action-toggle-size: 26px !default;

$type-icon-size: 16px !default;
