.js .field--widget-paragraphs .paragraphs-dropbutton-wrapper {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.js .field--widget-paragraphs .dropbutton-wrapper {
  width: auto;
  margin-right: 0;
  padding-right: 0;
}

.js .field--widget-paragraphs .dropbutton-widget {
  position: static;
}

.js .field--widget-paragraphs .field-multiple-table {
  margin-bottom: 10px;
}

.js .field--widget-paragraphs td {
  padding: 10px 0;
}

.js .field--widget-paragraphs .field-multiple-drag {
  vertical-align: top;
}

.js .field--widget-paragraphs .draggable .tabledrag-handle {
  margin-left: 0;
}

.js .field--widget-paragraphs .tabledrag-handle .handle {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0.2em;
}

.js .field--widget-paragraphs .delta-order {
  padding-right: 10px;
  text-align: right;
}

.js .paragraph-type-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.js .paragraphs-collapsed-description {
  position: relative;
  width: 100%;
  height: 1.538em;
  padding-right: 1em;
  padding-left: 1em;
  color: #777;
  overflow: hidden;
  word-break: break-all;
}

.js .paragraphs-collapsed-description::after {
  display: block;
  position: absolute;
  top: 0;
  right: 1em;
  width: 3em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100%);
  content: "\00a0";
}

.js .draggable:hover .paragraphs-collapsed-description::after {
  background: linear-gradient(to right, rgba(247, 252, 255, 0) 0%, #f7fcff 100%);
}

.js .drag-previous .paragraphs-collapsed-description::after {
  background: linear-gradient(to right, rgba(255, 255, 221, 0) 0%, #ffd 100%);
}

.js .paragraph-type-title {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  min-width: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.paragraph--view-mode--preview {
  padding-right: 1em;
}

.paragraphs-edit-button-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row-reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
}

@media screen and (max-width: 600px) {
  .js .paragraphs-edit-button-container {
    width: 50px;
    height: 40px;
  }
}

.paragraphs-tabs-wrapper .paragraphs-tabs {
  display: none;
}

.is-horizontal .paragraphs-tabs .tabs__tab {
  border-bottom: 0;
}
