$hover-icon-bg: #f5f5f2 !default;
$icon-size: 26px !default;

.paragraphs-actions {
  position: relative;

  &-toggle {
    // Use block display so parent can have same dimensions as toggle button.
    display: block;
    height: $icon-size;
    min-width: $icon-size;
    background: url('../icons/icon-actions.svg') no-repeat center;
    background-size: contain;
    border: none;
    transition: all 0.1s;

    &:hover, &:focus {
      background-color: $hover-icon-bg;
      outline: none;
    }
  }

  &.open {
    .paragraphs-actions-items {
      display: block;
    }
  }

  &-items {
    display: none;
    // We are using overflow hidden to prevent button background overflowing
    // on hover.
    overflow: hidden;
    position: absolute;
    right: 0;
    top: $icon-size;
    z-index: 100;
    background: $hover-icon-bg;
    border: 1px solid #a6a6a6;
    border-radius: 5px 0 5px 5px;
    box-shadow: 0 2px 6px 0 #aaa;

    // Override seven .item-list styles - we need to do like this because we
    // can't remove the class without overriding template.
    .item-list & {
      list-style: none;

      li {
        margin: 0;
        list-style: none;
      }
    }
  }

  &-action {
    width: 100%;

    &.button {
      text-align: left;
      background: transparent;
      border: 0;
      border-radius: 0;
      font-weight: 600;
      line-height: 18px;
      white-space: nowrap;

      &:focus {
        border: none;
        box-shadow: none;
        outline: none;
      }
    }
  }

  &-item-icon {
    height: 20px;
    padding: 0 10px;
  }
}
