.paragraphs-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.paragraphs-actions > .button {
  margin-left: 5px;
  margin-right: 0;
}

.paragraphs-actions > .button + .paragraphs-dropdown {
  margin-left: 5px;
}

.paragraphs-actions .paragraphs-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.paragraphs-dropdown {
  position: relative;
}

.paragraphs-dropdown-toggle {
  display: block;
  height: 36px;
  width: 36px;
  background: url("../icons/icon-actions.svg") no-repeat center;
  background-size: 26px 26px;
  border: none;
  transition: all 0.1s;
}

@media (min-width: 768px) {
  .paragraphs-dropdown-toggle {
    height: 26px;
    width: 26px;
  }
}

.paragraphs-dropdown-toggle:hover, .paragraphs-dropdown-toggle:focus {
  background-color: #eaeae4;
  outline: none;
}

.paragraphs-dropdown-actions {
  display: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 26px;
  z-index: 100;
  background: #eaeae4;
  border: 1px solid #a6a6a6;
  border-radius: 5px 0 5px 5px;
  box-shadow: 0 2px 6px 0 #aaa;
}

.item-list .paragraphs-dropdown-actions {
  list-style: none;
}

.item-list .paragraphs-dropdown-actions li {
  margin: 0;
  list-style: none;
}

.paragraphs-dropdown.open .paragraphs-dropdown-actions {
  display: block;
}

.paragraphs-dropdown-action {
  width: 100%;
}

.paragraphs-dropdown-action.button {
  margin-right: 0;
  margin-left: 0;
  text-align: left;
  background: transparent;
  border: 0;
  border-radius: 0;
  font-weight: 600;
  line-height: 18px;
  white-space: nowrap;
}

.paragraphs-dropdown-action.button:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.paragraphs-actions-item-icon {
  height: 20px;
  padding: 0 10px;
}
