.paragraphs-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: no-repeat center;
  background-size: contain;
}

.paragraphs-icon-view {
  background-image: url("../icons/icon-view.svg");
}

.paragraphs-icon-edit {
  background-image: url("../icons/icon-edit.svg");
}

.paragraphs-icon-edit-disabled {
  background-image: url("../icons/icon-edit-disabled.svg");
}

.paragraphs-icon-delete {
  background-image: url("../icons/icon-delete.svg");
}

.paragraphs-icon-delete-disabled {
  background-image: url("../icons/icon-delete-disabled.svg");
}

.paragraphs-icon-lock {
  background-image: url("../icons/icon-lock.svg");
}

.paragraphs-icon-changed {
  background-image: url("../icons/icon-changed.svg");
}

.paragraphs-icon-warning {
  background-image: url("../icons/icon-warning.svg");
}

.paragraphs-icon-error {
  background-image: url("../icons/icon-error.svg");
}

.paragraph-type-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.paragraph-type-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.paragraph-type-actions .paragraphs-button.button {
  margin-left: 0;
  margin-right: 5px;
}

.paragraph-type-actions .paragraphs-icon {
  margin-right: 5px;
}

.paragraph-type-actions .paragraph-actions {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.paragraphs-tabs-wrapper .paragraphs-tabs {
  display: none;
}

.js .field--widget-paragraphs .paragraph-actions {
  float: right;
}

.js .field--widget-paragraphs th .paragraph-actions {
  margin-right: -11px;
}

.js .field--widget-paragraphs .paragraphs-dropbutton-wrapper {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.js .field--widget-paragraphs .dropbutton-wrapper {
  width: auto;
  margin-right: 0;
  padding-right: 0;
}

.js .field--widget-paragraphs .dropbutton-widget {
  position: static;
}

.js .field--widget-paragraphs .field-multiple-table {
  margin-bottom: 10px;
}

.js .field--widget-paragraphs td {
  padding: 10px 0;
}

.js .field--widget-paragraphs .field-multiple-drag {
  vertical-align: top;
}

.js .field--widget-paragraphs .draggable .tabledrag-handle {
  margin-left: 0;
}

.js .field--widget-paragraphs .tabledrag-handle .handle {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0.2em;
}

.js .field--widget-paragraphs .delta-order {
  padding-right: 10px;
  text-align: right;
}

.js .paragraph-type-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.js .paragraph-type-top .paragraph-type-title {
  padding-right: 5px;
}

.js .paragraph-type-top .paragraph-type-info {
  padding-right: 5px;
}

.js .paragraph-type-top .paragraph-type-summary {
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-right: 5px;
}

.js .paragraphs-subform {
  margin-top: 5px;
}

.js .paragraphs-collapsed-description {
  position: relative;
  height: 1.538em;
  overflow: hidden;
  color: #777;
  word-break: break-all;
}

.js .paragraphs-collapsed-description::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100%);
  content: "\00a0";
}

.draggable:hover .js .paragraphs-collapsed-description::after {
  background: linear-gradient(to right, rgba(247, 252, 255, 0) 0%, #f7fcff 100%);
}

.drag-previous .js .paragraphs-collapsed-description::after {
  background: linear-gradient(to right, rgba(255, 255, 221, 0) 0%, #ffd 100%);
}

.js .paragraph-type-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 100px;
      -ms-flex-preferred-size: 100px;
          flex-basis: 100px;
  min-width: 100px;
}

.js .paragraph-type-icon {
  padding-right: 5px;
  height: 16px;
  width: 16px;
}

.js .paragraph-type-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .js .paragraph-type-add-modal {
    width: 100%;
    padding: 10px 0;
    height: 30px;
    margin-top: -1.8em;
    margin-bottom: -0.2em;
    display: inline;
  }
}

.js .paragraph-type-add-modal-button {
  display: inline-block;
  margin: 0 auto;
}

.js .paragraph-type-add-modal-button:hover {
  color: #ffffff;
  background: #057ec7 none;
}

.paragraph--view-mode--preview {
  padding-right: 1em;
}

.is-horizontal .paragraphs-tabs .tabs__tab {
  border-bottom: 0;
}
