.paragraph-actions {
  position: relative;
}

.paragraph-actions-toggle {
  display: block;
  height: 26px;
  min-width: 26px;
  background: url("../icons/icon-actions.svg") no-repeat center;
  background-size: contain;
  border: none;
  transition: all 0.1s;
}

.paragraph-actions-toggle:hover, .paragraph-actions-toggle:focus {
  background-color: #eaeae4;
  outline: none;
}

.paragraph-actions.open .paragraph-actions-items {
  display: block;
}

.paragraph-actions-items {
  display: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 26px;
  z-index: 100;
  background: #eaeae4;
  border: 1px solid #a6a6a6;
  border-radius: 5px 0 5px 5px;
  box-shadow: 0 2px 6px 0 #aaa;
}

.item-list .paragraph-actions-items {
  list-style: none;
}

.item-list .paragraph-actions-items li {
  margin: 0;
  list-style: none;
}

.paragraph-actions-action {
  width: 100%;
}

.paragraph-actions-action.button {
  text-align: left;
  background: transparent;
  border: 0;
  border-radius: 0;
  font-weight: 600;
  line-height: 18px;
  white-space: nowrap;
}

.paragraph-actions-action.button:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.paragraph-actions-item-icon {
  height: 20px;
  padding: 0 10px;
}
